@import "~/src/scss/colors.scss";

.address {
    background-color: $background-quaternary;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    > div {
        display: flex;
    }
}

.title {
    margin-right: 5px;
    font-weight: bold;
    font-size: 16px;
}

.info {
    color: $text-secondary;
    font-size: 16px;
}

.actions {
    > button {
        padding: 12px !important;
        margin-left: 10px !important;
        background-color: $primary;
        border-radius: 6px;
        padding: 10px 11px !important;

        &:hover {
            background-color: $primary-hover;
        }
    }
}


.confirm {
    background-color: $background-quaternary__blur;
    backdrop-filter: blur(3px);

    > div > div {
        background-color: $background-primary;
        border-radius: 12px;
        overflow: hidden;

        h2 {
            background-color: $background-primary;
            color: $text-primary;
            font-size: 18px;
            padding: 20px 20px 0 20px !important;
        }

        > div {
            background-color: $background-primary;
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            button {
                width: 48%;
                padding: 15px !important;
                margin: 0;
            }
        }
    }
}