@import "~/src/scss/colors.scss";

.modal {
    // background-color: $background-quaternary;
    background-color: #5B4A6D;
    border-radius: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
}

.titulo {
    font-size: 20px !important;
    padding: 40px 30px 0 30px;
    color: $text-primary;
    text-align: center;
}

.body {
    padding: 30px;
}