@import "~/src/scss/colors.scss";

.container {
    position: relative;
    height: 100%;
    color: $text-primary;
    margin-bottom: 20px;
    margin-top: 10px;

    h2 {
        text-align: center;
        text-decoration: underline;
    }
}


.contenido {
    margin-left: -5%;
    margin-right: -5%;
    margin-top: 5%;

    h5 {
        color: #B26FF9;
        border-bottom: 1px solid #b5b3b8;
        padding-bottom: 15px;
    }
    
    p {
        &:last-of-type {
            margin-bottom: 5%;
        }
    }
}