@import "~/src/scss/colors.scss";

.topBar {
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px;
    z-index: 5;
    color: $text-primary !important;
}

.left {
    width: 10%;
}

.center {
    width: 75%;
    display: flex;
    justify-content: center;
    margin-left: 15px;
}

.menuIcon {
    display: none;
}

.menu {
    display: none;
}

.right {
    width: 15%;
    display: flex;
    justify-content: flex-end;
}


@media (max-width: 1000px) {
    .topBar {
        width: 100%;
    }

    .left {
        width: 30%;
    }
    
    .center {
        display: none;
    }
    
    .menuIcon {
        display: block;
        width: 50%;
        text-align: end;
        margin-right: 50px;

        svg {
            fill: $text-primary;
            font-size: 40px;
        }
    }

    .menu {
        display: block;
        position: absolute;
        width: 100%;
        text-align: center;
        top: 80px;
        // height: 100%;
    }

    .right {
        width: 20%;
    }
}