.topBar {
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px;
    z-index: 5;
}

.left {
    width: 10%;
}

.center {
    width: 75%;
    display: flex;
    justify-content: center;
    margin-left: 15px;
}

.right {
    width: 15%;
    display: flex;
    justify-content: flex-end;
}