@import "~/src/scss/colors.scss";

.datatable {
    padding: 20px;
    font-size: 14px !important;
    margin-top: 20px;
}

.cellAction {
    display: flex;
    align-items: center;
    // gap: 15px;

    .linkall {
        // text-decoration: none;
        cursor: pointer;
    }
}


.confirm {
    background-color: $background-quaternary__blur;
    backdrop-filter: blur(3px);

    > div > div {
        background-color: $background-primary;
        border-radius: 12px;
        overflow: hidden;

        h2 {
            background-color: $background-primary;
            color: $text-primary;
            font-size: 18px;
            padding: 20px 20px 0 20px !important;
        }

        > div {
            background-color: $background-primary;
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            button {
                width: 48%;
                padding: 15px !important;
                margin: 0;
            }
        }
    }
}


.inStock {
    background-color: $success;
    color: white;
}
  
.outOfStock {
    background-color: $danger;
    color: white;
}


.modalContent {
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
    width: 12%;
    position: absolute;
    top: 32%;
    left: 72%;
}
  
.modalTitle {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
    text-align: center;
}
  
.modalStock {
    font-size: 18px;
    color: #333;
    text-align: center;
}