@import "~/src/scss/colors.scss";

.stepThree {
    display: flex;
    flex-direction: column;
    align-items: center;

    > svg {
        font-size: 70px;
        fill: $success;
    }

    > h2 {
        margin-bottom: 20px;
    }
}