@import "~/src/scss/colors.scss";

.tabs {
    position: relative;
    margin-top: 50px;

    > div > div {
        > button {
            &:last-of-type {
                position: absolute !important;
                right: 0;

                svg {
                    fill: #e040fb;
                }
            }

            &:nth-last-of-type(2) {
                position: absolute;
                right: 75px;

                svg {
                    fill: #e040fb;
                }
            }
        }
    }
}